<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Zora</title>
  <link rel="shortcut icon" href="./images/favicon.ico"/>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="./css/stylesheet.css">
</head>

<body>

  {{!-- Top Navigation Bar --}}
  <nav class="navbar navbar-light bg-light ">
    {{!-- Logo --}}
    <a class="navbar-brand" href="/secret"><img src="/images/logo.png" class="d-inline-block align-center" alt="" id="logo">
    Zora
    </a>
    {{!-- User horoscope icon --}}
    <div class="justify-content-end">
    <img src="/images/taurus.png" class="ml-auto" alt="" id="horoscopeIcon">
    {{!-- Greeting --}}
    <span class="navbar-text" id="greeting">
    Welcome back {{name}}, The Beautiful {{horoscope}}
    </span>
    {{!-- Cart --}}
    <a href="/cart">
    <button type="button" class="btn btn-primary">
      Cart
      <span class="badge badge-light"></span>
    </button></a>

    
    {{!-- Logout --}}
    <a href="/logout" id="logout">
      <button class="btn btn-outline-success" type="submit">
        Logout
      </button>
    </a>
    </div>

  </nav>


  {{{body}}}

  {{>footer}}
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.11/handlebars.min.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="/js/main.js"></script>
  <script>
    $(() => {

      
{{!--   

     $("#displayBox").on('click', '.dropdown-menu button', (e) => {
       console.log($(e.currentTarget).text())

        $('#selected').text($(e.currentTarget).text());

      }); --}}


      //Updating cart badge functionality


      axios
        .get("/api/cart")
        .then(res => {
          $("span.badge").html(res.data[0].totalQuantity);
          reloadCart(res.data);
        })
        .catch(err => {
          console.log(err);
        });


      
  
      
    });


  </script>
</body>

</html>


{{!-- $("span.badge").html(res.data[0].totalQuantity); --}}