{{!-- Requiring custom css stylesheets --}}
<link rel="stylesheet" href="/css/stylesheet.css">

<!-- Wrap everything in bootstrap container and row -->
<div class="container" id="home">

  <div class="row">

    {{!-- Divide sidebar to content sections in 1:3 ratio --}}

    {{!-- Sidebar section --}}
    <div class="col-lg-3">

      {{!-- Gender toggle --}}

      <div class="row d-flex justify-content-center">
        <span style="margin-right: 6px">Men</span>
        <div class="custom-control custom-switch">
          <input type="checkbox" class="custom-control-input" id="customSwitch1">
          <label class="custom-control-label" for="customSwitch1">Women</label>
        </div>
      </div>

      <br>

      {{!-- Styles buttons --}}

      <h2>Styles</h2>
      <div id="productStyle" class="list-group">
        <a href="http://localhost:8080/secret" id="productStyle" class="list-group-item list-group-item-action">
          Horoscope Highlights
        </a>
        <button data-id="3" id="productStyle" class="list-group-item list-group-item-action">Trending</button>
        <button data-id="0" id="productStyle" class="list-group-item list-group-item-action">Formal</button>
        <button data-id="1" id="productStyle" class="list-group-item list-group-item-action">Casual</button>
        <button data-id="2" id="productStyle" class="list-group-item list-group-item-action">Going-out-out</button>
      </div>

      <div id="message">
      </div>

    </div>



    {{!-- Content section --}}
    <div class="col-lg-9">
      {{!-- Horizontal product buttons --}}
      <h2>Product</h2>
      <div id="productType" class="list-group list-group-horizontal">
        <button data-id="2" class="list-group-item list-group-item-action">
          Tops
        </button>
        <button data-id="3" class="list-group-item list-group-item-action">Bottoms</button>
        <button data-id="1" class="list-group-item list-group-item-action">Shoes</button>
        <button data-id="0" class="list-group-item list-group-item-action">Dresses/Suits</button>
      </div>

      {{!-- Next Section: Cards --}}

      
      <div class="row" id="displayBox">
      </div>

      <div class="row" id="suggestions">
      </div>

    </div>

  </div>