{{!-- Requiring custom css stylesheets --}}
<link rel="stylesheet" href="/css/stylesheet.css">

<!-- Wrap everything in bootstrap container and row -->
<div class="container" id="home">

  <div class="row">

    {{!-- Divide sidebar to content sections in 1:3 ratio --}}

    {{!-- Sidebar section --}}
    <div class="col-lg-3">
      {{!-- Styles buttons --}}
      <h2>Styles</h2>
      <div class="list-group">
        <a href="#" class="list-group-item list-group-item-action active">
          Horoscope Highlights
        </a>
        <a href="#" class="list-group-item list-group-item-action">Trending</a>
        <a href="#" class="list-group-item list-group-item-action">Formal</a>
        <a href="#" class="list-group-item list-group-item-action">Casual</a>
        <a href="#" class="list-group-item list-group-item-action">Going-out-out</a>
      </div>

    </div>

    {{!-- Content section --}}
    <div class="col-lg-9">
      {{!-- Horizontal product buttons --}}
      <h2>Product</h2>
      <div class="list-group list-group-horizontal">
        <a href="#" class="list-group-item list-group-item-action active">
          Tops
        </a>
        <a href="#" class="list-group-item list-group-item-action">Bottoms</a>
        <a href="#" class="list-group-item list-group-item-action">Shoes</a>
        <a href="#" class="list-group-item list-group-item-action">Dresses</a>
      </div>

      {{!-- Next Section: Cards --}}
      <div class="row" id="displayBox">
      </div>

    </div>

  </div>