body {
  font-family: Georgia, "Times New Roman", Times, serif;
}
/***~~~~~~ Loading ~~~~~***/
.loader {
  position: fixed;
  z-index: 2000;
  top: 0;
  left: 0;
  height: 650%;
  width: 100%;
  background: url("/images/starry_gif1.gif") repeat;
}
.loader.hidden {
  animation: fadeOut 2s;
  animation-fill-mode: forwards;
}
@keyframes fadeOut {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
/**********************************/
/* Top Navigation Bar Elements */
nav #logo,
#horoscopeIcon {
  width: 40px;
  height: 40px;
}

#greeting {
  margin-left: 10px;
  margin-right: 10px;
}

#home .container {
  margin-top: 40 px;
  margin-bottom: 40px;
}

#nav-link {
  margin: 0 25px 0 0;
  color: #000000;
  font-size: 18px;
}

/********* Landing Page **********/
#indexLanding .navbar {
  background-color: rgb(255, 255, 255, 0.85);
  padding: 1% 0;
}

#indexLanding {
  background: url("/images/landing_bg.jpg") fixed no-repeat;
  position: relative;
  background-size: cover;
}

#carouselExampleIndicators {
  margin: 0rem !important;
  padding: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.container-fluid {
  margin: 0;
}

.fixed-container {
  width: 100%;
  height: auto;
}

#carousel-inner img {
  object-fit: contain;
}

#shop_cards {
  margin: 0;
  padding: 10px;
  display: block;
  text-align: center;
}

#shop_cards img {
  width: 95%;
  height: auto;
}

#displayBox {
  display: flex;
  flex-flow: wrap;
  padding: 25px 0 25px 0;
}

/********* Guest Page **********/
.modal-body h5 {
  text-align: center;
}

footer #footer {
  padding: 0%;
}

/********* Sign Up Page **********/
#signup {
  background-image: url("https://www.barraques.cat/pngfile/big/0-7755_nature-pier-bridge-d-river-water-sunset-night.jpg");
  height: 100vh;
}
#signup h1{
  position: relative;
  left: 600px;
  color: white;
 }
 
 #signup form{
   position: relative;
   margin: 30px 600px  30px; ;
 
 }
 #signup label{
   color: rgb(255, 255, 255);
   font-size: 120%;
 }
 #signup input{
   background-color: rgb(233, 227, 227);
   height: 50px;
 width: 350px;
 }
 #signup .btn{
  color: #000000;
 }

/********* Horoscope Calculator **********/
#bigContainerScope {
  background: url('/images/horoscope_bg.jpg') fixed repeat repeat;
  height: 100vh;
}

#contentHoroCal {
  margin: -3% 50px 50px 50px ;
  padding: 70px 0 150px 0;
  background: rgba(255, 255, 255, 0.7);
  text-align: center;
}

#contentHoroCal h1 {
  padding-bottom: 50px; 
}

#contentHoroCal label {
  font-size: 18px;
}

/********* Log In Page **********/
#login {
  background-image: url("https://www.barraques.cat/pngfile/big/0-7755_nature-pier-bridge-d-river-water-sunset-night.jpg");
  height: 100vh;
}
#login h1{
 position: relative;
 left: 600px;
 color: white;
}

#login form{
  position: relative;
  margin: 30px 600px  30px; ;

}
#login label{
  color: rgb(255, 255, 255);
  font-size: 120%;
}
#login input{
  background-color: rgb(233, 227, 227);
  height: 50px;
width: 350px;
color: #000000;
}

/********* ProductList Page **********/
#home {
  padding-top: 20px;
  /* background-size: contain;
  background-repeat: repeat repeat;  */
  color: rgb(211, 211, 211);
}

.py-3 .m-0 {
  color: #000000;
}

.card-body {
  min-height: 180px;
}

h5 {
  font-size: 14px;
}

p {
  font-size: 12px;
}

.cartButton img {
  height: 15px;
}

#topCartButton img {
  height: 15px;
}

.cards {
  margin-bottom: 40px;
}

.dropdown button {
  background-color: white;
}


/********* ProductInfo Page **********/
#productInfo {
  padding: 20px;
}

#productInfo img {
  width: 90%;
  height: auto;
}

#suggestions {
  padding: 15px;
}

#suggestions h5 {
  padding: 40px 0 20px 0;
}

@media screen and (max-width: 580px) {
  #shop_cards {
    width: 100%;
  }

  #cardsDiv {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

#cartThumbnail {
  height: 150px;
}

#cart {
  color: rgb(211, 211, 211);
}

#cart .table-hover {
  
    /* margin:   50px ; */
    /* padding: 70px 0 150px 0; */
    background: rgba(255, 255, 255, 0.7);
    text-align: center;
}